html {
  font-family: 'Overpass', sans-serif;
  color: #fff;
}

body {
  background-image: linear-gradient(to bottom, #ff9500, #ff5e3a);
  background-repeat: no-repeat;
}

.section-2 {
  border-bottom: solid 2px rgba(255, 255, 255, .5);
  border-top: solid 2px rgba(255, 255, 255, .5);
}

.btn-ghost {
  color: rgba(255, 255, 255, .7);
  border-color: rgba(255, 255, 255, .7);
}

.bth-ghost:hover {
  background-color: rgba(255, 255, 255, .7);
  color: transparent;
  border-color: rgba(255, 255, 255, .7);
}

@media only screen and (min-width: 60em) {

  .section-2 {
    border-bottom: none;
    border-top: none;
    border-left: solid 2px rgba(255, 255, 255, .5);
    border-right: solid 2px rgba(255, 255, 255, .5);

}
